#rotateSlide.rotate-slider
    .rotate-slider-wrapper.rotate-custom
        .rotate-slider-item
            .rotate-custom-card
                h3.rotate-custom-title Lorem ipsum
                p.rotate-custom-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusantium obcaecati suscipit adipisci minima accusamus eius atque et voluptatum distinctio, saepe laborum laudantium consectetur dolor sed voluptates commodi unde sit.

        .rotate-slider-item            
            .rotate-custom-card
                h3.rotate-custom-title Запуск
                p.rotate-custom-text Официпльный релиз приложения

        .rotate-slider-item
            .rotate-custom-card
                h3.rotate-custom-title Открытый бета-тест
                p.rotate-custom-text
                    | Тестирование функционала<br>
                    | производительности, дизайна.<br>
                    | Пользовательское тестирование по приглашению.<br>
                    | Формирование первичной аудитории.

        .rotate-slider-item
            .rotate-custom-card
                h3.rotate-custom-title Stage A
                p.rotate-custom-text Привлечение  инвестиций

        each val in [5,6,7,8,9]
            .rotate-slider-item
                .rotate-custom-card
                    h3.rotate-custom-title Lorem ipsum
                    p.rotate-custom-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quaerat quo ullam, sit, quis voluptatum alias incidunt iste temporibus nulla eius consectetur inventore vel sint impedit beatae adipisci iusto? Ab.
