doctype html 
head(lang='ru')
    meta(charset='UTF-8')
    title Rotate Gallery
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href=require('./scss/plugins/rotate-slider/rotate-slider.scss') rel='stylesheet')
    link(href=require('./scss/index.scss') rel='stylesheet')

body
    .container 
        h1.headline Roadmap

    //- общая зона
    .rotate-slider-container
        //- зона с слайдами
        include views/slider.pug
        
        //- зона с кружками
        include views/circle-slider.pug

        //- зона с датами
        include views/date-slider.pug
        
    script(src=require('./js/index.js'))